<html>
<head></head>
<body>
<script>
function goLeft() {
    window.location.href = "/maze/{{left}}";
}
function goBackward() {
	{% if backward %}
    window.location.href = "/maze/{{backward}}";
	{% endif %}
}
function goRight() {
    window.location.href = "/maze/{{right}}";
}
function goForward() {
	{% if forward %}
    window.location.href = "/maze/{{forward}}";
	{% endif %}
}

function keyDown(event) {
    switch (event.key) {
    case 'e':
        goForward();
        break;
    case 's':
        goLeft();
        break;
    case 'd':
        goBackward();
        break;
    case 'f':
        goRight();
        break;
    }
}
addEventListener("keydown", keyDown);
</script>

<h1>Looking {{direction_long}} from {{room_x}}, {{room_y}}.</h1>

<pre>
{{maze_view}}
</pre>
<b>e:</b> forward<br>
<b>s:</b> left<br>
<b>d:</b> backward<br>
<b>f:</b> right<br>
</body>
</html>
