<html>
<head></head>
<body>
<script>
function goLeft() {
    window.location.href = "/maze/{{left}}";
}
function goRight() {
    window.location.href = "/maze/{{right}}";
}
function goForward() {
	{% if forward %}
    window.location.href = "/maze/{{forward}}";
	{% endif %}
}

function keyDown(event) {
    switch (event.key) {
    case 's':
        goLeft();
        break;
    case 'e':
        goForward();
        break;
    case 'f':
        goRight();
        break;
    }
}
addEventListener("keydown", keyDown);
</script>

<h1>Looking {{direction_long}} from {{room_x}}, {{room_y}}.</h1>

<pre>
{{maze_view}}
</pre>
<a href="/maze/{{left}}">left</a>
{% if forward %}
<a href="/maze/{{forward}}">forward</a>
{% else %}
forward
{% endif %}
<a href="/maze/{{right}}">right</a>
</ul>
</body>
</html>
